@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

.HomeInfoSingle {
  // background-color: orangered;
  &__QuillContainer {
    margin-top: 1rem;
    width: 60rem;
    &__Quill {
      background-color: $color-grey-light;
      margin-bottom: 2rem;
    }
  }

  &__HeadlineRow {
    width: 100%;
    margin: 20px 0 40px 0;
    padding: 20px;
    background-color: $color-grey-lighter;
    border-radius: 8px;
    border: 1px solid #e1e1e1;

    select {
      width: 100%;
      max-width: 500px; // Keeps it from becoming too wide on desktop
      padding: 12px;
      font-size: 1.4rem;
      border-radius: 4px;
    }
  }

  .HelpText {
    margin-top: 8px;
    color: #666;
    font-style: italic;
  }

  // .Divider {
  //   border: 0;
  //   border-top: 1px solid #eee;
  //   margin: 40px 0;
  // }

  &__FeaturedItems {
    width: 100%;
    display: flex;
    gap: 2rem;
    & > * {
      flex: 1 1 0px;
    }
    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}

.grid {
  margin: 1rem 0;
}
