.editGrid {
  // background-color: orangered;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.grid {
  margin: 1rem 0;
  height: 80vh;
}

.editModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  &__Buttons {
    display: flex;
    gap: 1rem;
  }
}
