.EventSubmission {
  width: 60rem;
  &__TopInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem 0;

    &__Buttons {
      display: flex;
      gap: 1rem;
    }
  }

  form {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
}
