@import "../../../../assets/sass/variables";

.ArticleCreate {
  width: 60rem;
  &__TopInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem 0;

    &__Buttons {
      display: flex;
      gap: 1rem;
    }
  }

  &__Quill {
    background-color: $color-grey-light;
    margin-bottom: 2rem;
  }
}
