@import "../../../../assets/sass/variables";

.SignUp {
    height: 100%;
    display: grid;
    grid-template-columns: 1 1fr;
    align-items: center;
    background-color: $color-secondary-lighter;
    padding-top: 4rem;
    border-radius: 9px 9px 0 0;


    .form {
        width: 90%;
        margin: auto;
        &__group:not(:last-child) {
            margin-bottom: 2rem;
        }
        &__group:last-child {
            margin-bottom: 4rem;
        }
        padding-bottom: 4rem;

        // div:first-of-type {
        //     margin-right: 4%;
        // }
        // div:nth-of-type(-n+2) {
        //     width: 48%;
        //     display: inline-block;
        // }
    }

    .error {
        color: $color-primary;
        padding-bottom: 2rem;
        text-transform: uppercase;
    }
}