@import "../../../assets/sass/variables";

.Sidebar {
  // background-color: orangered;
  background-color: $color-tertiary-light;
  // background-image: linear-gradient(
  //   135deg,
  //   $color-primary-light,
  //   $color-primary-lighter
  // );
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
  position: fixed;

  &__Org {
    // background-color: yellowgreen;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.074rem;
  }

  &__Info {
    flex-grow: 1;

    &__InfoGroup {
      // background-color: blueviolet;
      margin: 1rem 0 1rem 0;

      &__Name {
        text-transform: uppercase;
        // background-color: orchid;
        margin-bottom: 0.5rem;
      }

      ul {
        margin-left: 1rem;
        list-style: none;
      }
    }
  }

  &__User {
    // background-color: orangered;

    &__Settings {
      text-transform: uppercase;
    }
    & > *:not(:last-child) {
      margin: 1rem 0;
    }
  }

  &__userButton {
    width: 16rem;
  }
}
