body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 1rem;
}
h4 {
  margin-bottom: 0.5rem;
}
